#--------------------------------------------------
#Répertoire : /articles/
#--------------------------------------------------

#Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

#Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
#Règles de réécriture d'URL :
#--------------------------------------------------

#page sans id

RewriteRule ^([a-zA-Z0-9]+)$   /index.php?action=$1 [L]

# Réécriture d'URL pour le lien avec "marque"
RewriteRule ^marque/([a-zA-Z]+)$ /index.php?action=marque&marque=$1 [L]

# Réécriture d'URL pour le lien avec "article"
RewriteRule ^article/([a-zA-Z]+)$ /index.php?action=article&categorie=$1 [L]

# Réécriture d'URL pour le lien avec "promo"
RewriteRule ^promotion&page=([0-9]+)$ /index.php?action=promotion&page=$1 [L]

# Réécriture d'URL pour le lien avec "marque"
RewriteRule ^marque/([a-zA-Z]+)&page=([0-9]+)$ index.php?action=marque&marque=$1&page=$2 [L]

# Réécriture d'URL pour le lien avec "article"
RewriteRule ^article/([a-zA-Z]+)&page=([0-9]+)$ index.php?action=article&categorie=$1&page=$2 [L]

# Réécriture d'URL pour le lien avec "admin"
RewriteRule ^admin&page=([0-9]+)$ /admin.php?action=admin&page=$1 [L]

RewriteRule ^admin/commande /admin.php?action=commande [L,QSA]

RewriteRule ^commande/numero=([a-zA-Z0-9]+)$ /index.php?action=commande&numero=$1 [L]

# Réécriture d'URL pour le lien avec "search"
RewriteRule ^search/$ /index.php?action=search [L,QSA]

# Réécriture d'URL pour le lien avec "search" pour admin
RewriteRule ^searchAdmin/$ /admin.php?action=searchAdmin [L,QSA]

# Réécriture de l'URL pour le nouveau mot de passe
RewriteRule ^newPass/token=([a-zA-Z0-9]+)&id=([a-zA-Z0-9]+)$ /index.php?action=newPass&token=$1&id=$2 [L]

# Réécriture de l'URL pour l'activation
RewriteRule ^activation/token=([a-zA-Z0-9]+)&id=([a-zA-Z0-9]+)$ /index.php?action=activation&token=$1&id=$2 [L]

RewriteRule ^([a-zA-Z]+)/([0-9]+)$   /index.php?action=$1&id=$2 [L]

